<h1>Bienvenido {{user.first_name}} !</h1>
        <div>
            {{#each docs}}
            <div>
                <div>
                    <div>
                        <h5>Code: <strong>{{this.code}}</strong></h5>
                        <p >Titulo: <strong>{{this.title}}</strong> - Descripción: <strong>{{this.description}}</strong></p>
                        <p >Precio: <strong>{{this.price}}</strong></p>
                        <p >Stock: <strong>{{this.stock}}</strong></p>
                        <p >Categoría: <strong>{{this.category}}</strong></p>
                        <button type="submit" action="api/carts/64c84f6ab338474a4bf98594/products/{{this._id}}" formmethod="POST">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        {{!-- agregar un fetch para traer el post --}}
            {{/each}}
        </div>

        <br/>

    <button onclick="location.href='/logout'">Logout</button>